<h2 class="page-header">Search Lists</h2>
<form action="/lists" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Name</label>
            <input type="text" name="name" value="<%= searchOptions.name %>">
        </div>
    </div>
    <div class="form-row form-row-end btn-row">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<h2 class="page-header">Lists</h2>
<% lists.forEach( list => { %>
    <div>
        <%= list.name %>
        <a class="btn btn-primary" href="/lists/<%= list.id %>">View</a>
        <a class="btn btn-primary" href="/lists/<%= list.id %>/edit">Edit</a>
    </div>
<% }) %>