<% if(recentlyAddedMovies.length >= 1) { %> 
    <div>
        <h2 class="page-header">Recently Added Movies</h2>
        <div class="movie-container"> 
        <% recentlyAddedMovies.forEach(recentMovie => { %>
                <%- include('partials/movie', { movie: recentMovie }) %>
                <!-- <div class="btn-row">
                    <a class="btn btn-primary" href="/movies/<%= recentMovie.id %>">View</a>
                </div> -->
        <% }) %>
        </div> 
        <hr>
    </div>
<% } %>